html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #6A6C6E;
}

a {
  color: #6A6C6E;
}

hr {
  background-color: lightgray;
  border: none;
  height: 1px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.gutters {
  padding: 5vw;
}

.b-font {
  font-size: max(5vw, 5vh);
}

.m-font {
  font-size: max(3vw, 3vh, 2em);
}

.s-font {
  font-size: max(1vw, 1vh, 1em);
}

.bold {
  font-weight: bold;
}

.button {
  display: inline-block;
  border-color: lightgray;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
	
  text-decoration: none;
  text-align: center;
	cursor: pointer;
	-webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.button.circle {
  width: max(3vw, 3vh, 2em);
    height: max(3vw, 3vh, 2em);
    border-radius: 50%;
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
	outline: thin dotted #444;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}